.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Data/.DS_Store
Data/4. Visual census/Huge documents (> 100MB)
Data/0. Fieldwork documents to print/XLSX/Nutrients_State.xlsx
Meetings_and_Medias/Meetings